 <% provide(:title, 'Help') %>
 <!DOCTYPE html>
<html>
  <head>
    <title>Bloger | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help at the
  <a href="http://myblogers.org/help"></a>.
    </p>
  </body>
</html>

