<div class="center hero-unit">
  <h1>Welcome to Blog</h1>

  <h2>
    This is the home page for sharing news
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("blog-word.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>